@charset "utf-8";
#wrap{
	padding-top: 50px;
	text-align: center;
}
p{
	margin: 5px;
	font-size: 20px;
}
button{
	width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid pink;
    outline: none;
    font-size: 20px;
    color: red;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
button:hover,button:hover{
    background-color: rgba(0,0,0,0.4);
}
