@charset "utf-8";
#wrap{
	min-width: 1000px;
	min-height: 600px;
}
li{
	margin:5px;
}
li:after{
	display: block;
	clear: both;
	content: "";
}
li span{
	display: block;
	float: left;
	width: 100px;
	height: 30px;
	margin-left: 5px;
	border:1px solid black;
	line-height: 30px;
	text-align: center;	
	font-size: 20px;
}

