
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1537664356983'); /* IE9*/
  src: url('iconfont.eot?t=1537664356983#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAPoAAsAAAAABiwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8dkfyY21hcAAAAYAAAABKAAABcOcotapnbHlmAAABzAAAADgAAAA4kqq8d2hlYWQAAAIEAAAALwAAADYSuVDEaGhlYQAAAjQAAAAcAAAAJAfeA4NobXR4AAACUAAAAAgAAAAICAAAAGxvY2EAAAJYAAAABgAAAAYAHAAAbWF4cAAAAmAAAAAdAAAAIAENABZuYW1lAAACgAAAAUUAAAJtPlT+fXBvc3QAAAPIAAAAHgAAAC/ohWJ5eJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeMTxjYG7438AQw9zA0AAUZgTJAQDdJQvjeJztkLENgDAQA8/KQ4EYgSo1s1Cxf8kaycfAFrF0lnz66oEFKMmZBOhGjFxpZV/Y7IPqmxj+obW/c4cbrczs7uNb/tUL6ijqCWkAAAABAAD/wQO/Az4ACQAAARMhBRMlBRMlIQH/agFW/utq/uv+7Gn+7AFWAz7+q9P+rNLSAVTTAAAAeJxjYGRgYADiX7Vv2OP5bb4ycLMwgMD1s2wpCPr/QRYGZjsgl4OBCSQKADV5CkYAeJxjYGRgYG7438AQw8IAAkCSkQEVMAEARwgCawQAAAAEAAAAAAAAAAAcAAB4nGNgZGBgYGLgYgDRIBYDkM0FJP+D+QwACZEBJAAAAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nGNgYoAALgbsgImRiZGZgbW4JLGohIEBAA1/AkkAAA==') format('woff'),
  url('iconfont.ttf?t=1537664356983') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1537664356983#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-start:before { content: "\e600"; }

